

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Chỉnh sửa tiểu sử</mat-card-title>
      <mat-card-subtitle>
          
       <input type="text" [(ngModel)]="list_tieusu.tieusu">


      </mat-card-subtitle>
     
    </mat-card-header>
   
    <mat-card-content >
        
    </mat-card-content>
    <div></div>
    <mat-card-actions style="margin-bottom: -15px;">
        <button (click)="onSubmit()" matTooltip="Save" style="float: right;margin:5px" mat-flat-button color="accent">	<mat-icon>save_alt</mat-icon>Lưu</button>
        <button (click)="closeDia()" style="float: right;margin:5px;margin-right: 15px;" mat-stroked-button>Hủy</button>
      </mat-card-actions>
  
  </mat-card>
  
