<style>
    span {
        font-size: 16px;
        font-weight: bold;
        margin: 10px;

    }

    p {
        margin: 10px;
    }

    .khung {

        background-color: aliceblue;
        margin-bottom: -80px;
    }

    img {
        width: 50%;
        height: 500px;
        margin-left: 300px;
    }
</style>
<div class="khung">

    <div>
        <h3>7 nguyên tắc làm việc của nhân viên hiện đại</h3>
    </div>
    <span>
        1. Môi trường làm việc linh hoạt
    </span>

    <div>
       
    </div>

    <p>
        Đã qua rồi cái thời người lao động phải dính chặt với môi trường công sở 8 tiếng mỗi ngày. Rất nhiều công việc
        hiện nay đều có thể làm được từ xa miễn là có thể kết nối Internet. Do đó, môi trường làm việc cho lớp nhân viên
        hiện đại cần linh hoạt, vì họ có thể làm việc bất cứ nơi đâu và bất cứ khi nào.
    </p>

    <span>
        2. Tùy biến công việc của mình

    </span>
    <p>

        Quan niệm thuê một người nào đó để làm một công việc mãi mãi suốt cuộc đời lao động của họ giờ đã là chuyện xưa
        như trái đất rồi. Mọi nhân viên bây giờ đều có thể xác lập đường hướng công việc theo cách riêng của họ và chọn
        những nhiệm vụ hay dự án họ quan tâm để tham gia.
    </p>
    

    <span>3. Sử dụng các phương thức trao đổi và hợp tác mới</span>
    <p>

        Email giờ đây không còn là cách giao tiếp hay hợp tác hiệu quả nhất nữa. Nhiều công nghệ mới như các hệ thống
        liên lạc nội bộ đang dần thay thế email trong nhiều trường hợp.
    </p>

      <div>
        <img src="../../assets/media/bg/tn2.jpg">
    </div>
    <span>4. Có thể trở thành nhà lãnh đạo</span>


    <!-- <div>
        <img src="../../assets/media/bg/tn2.jpg">
    </div> -->
    <p>
        Lần đầu tiên trong lịch sử thương mại, các nhân viên có cơ hội hiếm hoi để trở thành lãnh đạo thông qua việc
        chia sẻ các ý tưởng và những phản hồi của họ công khai và minh bạch với các đồng nghiệp, nhà quản lý hay các sếp
        lớn thông qua hệ thống liên lạc nội bộ.

        Đây là thực tế rất khác so với trước kia bởi khi đó, các nhân viên rất khó được ghi nhận về những đóng góp cũng
        như sáng kiến của họ.
    </p>

    <span>5. Chia sẻ thông tin</span>
    <p>


        Từ lâu người ta quen hiểu câu “kiến thức là sức mạnh” có nghĩa là những người có kiến thức, bí quyết nghề nghiệp
        là người giành lợi thế. Nhưng thực tế cho thấy, sự “độc quyền” kiến thức không giúp được ai cả.

        Vì thế, khái niệm của thời hiện đại sẽ chuyển thành “chia sẻ là sức mạnh”. Theo đó, những nhân viên biết chia sẻ
        thông tin và ý tưởng cũng như sử dụng các công nghệ hợp tác, các mạng lưới quan hệ xã hội và nội bộ sẽ là những
        người gặt hái được nhiều thành công và thăng tiến trong sự nghiệp.
    </p>


    <span>6. Chuyển từ có kiến thức sang tự học thêm để làm việc</span>
    <p>

        Kiến thức là tài sản vô giá của mỗi người, nhưng để trở thành người thông minh nhất tại nơi làm việc, tất cả
        những gì bạn cần thời nay chỉ là một chiếc smartphone.

        Hãy học hỏi những kiến thức mới mẻ để có thể áp dụng vào môi trường làm việc. Các nhân viên hiện đại cần tập
        trung vào “học cách học” sao cho tốt.

    </p>

    <span>7. Học và dạy bất cứ lúc nào</span>
    <p>
        Theo quan niệm cũ, việc học và dạy phải được tiến hành một cách bài bản và thường phải theo chương trình do cơ
        quan/công ty tổ chức. Tuy nhiên, với sự phát triển của công nghệ hiện đại, các nhân viên có thể kết nối với
        thông tin ở bất cứ đâu, bất cứ lúc nào và trên mọi thiết bị số.

        Theo đó, việc học và dạy có thể diễn ra giữa các nhân viên với nhau mà không cần phải đợi có các tài liệu hay
        chương trình huấn luyện.

        Bạn có thắc mắc nào ư? Hãy tranh thủ khai thác ngay từ kho trí tuệ tập thể của công ty mình. Bạn muốn chỉ cho ai
        đó cách làm việc gì ư? Hãy dùng chính chiếc smartphone của mình quay lại cách thức thực hiện việc đó rồi upload
        lên trang mạng nội bộ công ty để mọi người cùng xem.

    </p>


</div>