<style>
    .div {
        display: flex;
        flex-direction: column;

    }

    .title {
        background-color: #f6f6f6;

        height: 50px;
    }

    .mat-icon:hover {
        background-color: red;
        color: white;
        border-radius: 50%;
    }

    span {
        font-size: 15px;
        font-weight: bold
    }

    .post {
        text-align: center;
        width: 200px;
        margin-top: 32px;
        background-color: rgb(243, 232, 232);
        color: white;
        margin-bottom: 10px;


    }

    .post:hover {
        background-color: rgb(66, 26, 212);
        color: white;
    }
</style>
<div   class="scroll scroll-push"
data-scroll="true"
style="position: relative; max-height: 70vh;"
perfectScrollbar >


<div style="left: 400px; top:30px" >
    <div class="title">
        <button  style="float: right;" (click)="closeDilog()" mat-button mat-icon-button>
            <i style="font-size: 15px;"  class="flaticon2-cancel-music"></i>
          </button>
    
       
        <span>KHEN THƯỞNG THÀNH VIÊN</span>
    </div>
    <div style="display:flex;flex-direction: column; margin:15px">

        <mat-form-field class="mat-form-field-fluid">
            <mat-chip-list #chipList required>
                <mat-chip *ngFor="let dlht of user_tam" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(dlht)">
                    {{dlht.hoten}}
                    <mat-icon matChipRemove *ngIf="removable" >cancel
                    </mat-icon>
                </mat-chip>
                <input matInput placeholder="Chọn tên thành viên" required
                    [matAutocomplete]="auto" [formControl]="userCtrl" 
                    #userInput
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  >
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" >
                <mat-option *ngFor="let item of listUser | async"
                     >
                     
                    <span>  {{item.hoten}}
    
                    </span>
                    <!-- <span *ngIf="false" [formControl]="id_nv">{{item.id_NV}}</span> -->
                    <!-- <span>{{ itemCate.ID_type}}</span> -->
                </mat-option>
            </mat-autocomplete>
            </mat-form-field>
    </div>



    <div style=" margin:15px;padding-right: 22px;padding-left: 22px;">
        <span>Nhập nội dung</span>
        <textarea placeholder="Nhập nội dung !" style="border:1px solid lightcoral;outline: none;" rows="5" cols="70"
            name="comment" form="usrform" [(ngModel)]="noidung">
           </textarea>
    </div>

    <div style="display:flex;">
        <div class="praises">
            <!-- <div class="praise active" data-id="praise" onclick="Update.praise.pickInline(this);">
                <div class="inner">
                    <div class="icon"> <img src="https://static-devgcs.basecdn.net/inside/image/icons/awards/award.svg">
                    </div>
                    <div class="name">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Khen thưởng</font>
                        </font>
                    </div>
                </div>
            </div> -->
            <div *ngFor="let item of listkt" [ngClass]="statusClass" clickColor color='green' (click)="ChangesChose()">
                <div class="inner"(click)="getID_KT(item.ID_khenthuong)">
                    <div class="icon"> <img
                            src="{{item.icon}}">
                    </div>
                    <div class="name">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">{{item.tieude}}</font>
                        </font>
                    </div>
                </div>
            </div>
          
        </div>
    </div>






    <div style="text-align: center;">
        <button class="post"(click)="submit()">

            <span style="font-size:14px; color:black">Cập nhật</span>
        </button>
    </div>

</div>
</div>