<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="col-md-12 kt-margin-bottom-10-mobile" style="margin-top: 20px;">
			<h3 class="kt-portlet__head-title">Edit comment</h3>
        </div>
        

	</div>
	<div class="kt-portlet__body">
		<div class="form-group kt-form__group row">
			<div class="col-md-12 kt--margin-bottom-10-mobile">
				<div class="input-group">
				
					<textarea [(ngModel)]="comment.NoiDung_cmt" class="form-control" aria-label="With textarea"></textarea>
				  </div>
				<!-- <mat-form-field class="mat-form-field-fluid "  style="margin-left: 10px">
					<textarea matInput placeholder="Comment" class="require" required
						[(ngModel)]="comment.NoiDung_cmt"></textarea>
				</mat-form-field> -->
			</div>
		</div>
		<div class="form-group kt-form__group row">
			<div class="col-md-12 kt--margin-bottom-10-mobile text-center">
				<button mat-raised-button (click)="closeDia()">Cancel</button>&nbsp;
				<button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
			</div>
		</div>
	</div>
</div>