.avatar {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 150px;
    height: 150px;
    background-size: cover;
    border:3px solid rgb(32, 46, 247)
  }