<kt-portlet >
    <kt-portlet-header [sticky]="false" title="Danh Sách Thành Viên Group" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
            <!-- <mat-form-field class="mat-form-field-fluid" style="margin-right:20px; margin-top: 10px; margin-bottom: 5px; width: 400px !important;">
        <button style="background: transparent;
                    border: none;" mat-icon-button-pad type="button" matPrefix (click)="loadDataList()">
          <mat-icon>search</mat-icon>
        </button>
        <input matInput [(ngModel)]="keyword" (keyup.enter)="loadDataList()" placeholder="{{ 'wuser.timkiemnhanh' | translate }}" #tenphongban>
      </mat-form-field> -->
            <div class="search-box">
                <div class="search">
                    <div class="input">
                        <span class="la la-search url" (click)="loadDataList()"
                            style="position: absolute; top: 2px; left: 10px; font-size: 18px;"></span>
                        <input type="text" [(ngModel)]="keyword" (keyup.enter)="loadDataList()"
                            placeholder="Tìm kiếm" style="overflow: hidden;" #tenphongban>
                    </div>
                </div>
            </div>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body class="pd-0">
        <div class="example-container mat-table__wrapper" [ngStyle]="{'height': getHeight()}">
            <table mat-table class="lmat-elevation-z8 lst-project" [dataSource]="dataSource"
            matSort
            matSortActive="Username" matSortDirection="asc" matSortDisableClear
              >
                <ng-container matColumnDef="Username">
                    <th mat-header-cell *matHeaderCellDef >
                        <span>Họ Tên</span>
                    </th>
                    <td mat-cell *matCellDef="let item" style="justify-content: center;">
                        <div style="display:flex">
                            <div>
                             
                                <span *ngIf="item.hinhanh===null;then e1; else e2"></span>
                    <ng-template #e2>
                      <img  style="width:35px; height:35px;border-radius:50%; margin-right:10px" src="{{item.Avatar}}">

                    </ng-template>

                    <ng-template #e1>

                        <img src="../../assets/media/users/Noimage.jpg" alt=""
                        style="width:35px; height:35px;border-radius:50%; margin-right:10px">

                    </ng-template>
                                <!-- <img src="../../assets/media/users/Noimage.jpg" alt=""
                                    style="width:35px; height:35px;border-radius:50%; margin-right:10px"> -->
                            </div>
                            <div>
                                <div><a [routerLink]="['./',item.id_nv]">{{ item.Username }}</a></div>
                                <span style="color: #888">{{ item.chucvu }}</span>
                            </div>
                        </div>
                    </td>
                </ng-container>
  
                <ng-container matColumnDef="create_date">
                  <th mat-header-cell *matHeaderCellDef style="justify-content: center">
                      <span translate="Ngày Tham Gia">Ngày Tham Gia</span>
                  </th>
                  <td mat-cell *matCellDef="let item" style="justify-content: center">
                    
                    {{item.create_date | date:'MM/dd/yyyy'}}
                    
                   
                  </td>
              </ng-container>
                <ng-container matColumnDef="quyen_group">
                    <th mat-header-cell *matHeaderCellDef style="justify-content: center">
                        <span translate="Quyền">Quyền</span>
                    </th>
                    <td mat-cell *matCellDef="let item" style="justify-content: center">

                        <!-- <span >  {{item.quyen_group}}</span> -->
                            <span *ngIf="item.quyen_group===true;then e1;else e2">

                             
                                
                            </span>

                            <ng-template #e1>
                                Quản trị viên
                            </ng-template>
                            
                            <ng-template #e2>
                              Thành viên
                            </ng-template>
                    </td>
                </ng-container>
                
  
                
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: false"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="row.highlighted = !row.highlighted"
                    [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (mouseover)="row.hovered = true"
                    (mouseout)="row.hovered = false"></tr>
            </table>
            <!-- *ngIf="!dataSource.hasItems" -->
            <!-- <div class="mat-table__message">
                <span translate="JeeHR.khongcodulieu"></span>
            </div> -->
        </div>
        <div class="mat-table__bottom" >
            <mat-spinner [diameter]="20"></mat-spinner>
            <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 50, 100]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </kt-portlet-body>
  </kt-portlet>