<style>
    .close
    {
        margin-top: -5px;
 
    float: right;
    margin-right: 5px;
    }
    .div {
        display: flex;
        flex-direction: column;

    }

    .title {
        background-color: #f6f6f6;
        text-align: center;
        height: 50px;
        padding-top: 12px;
    }



    span {
        font-size: 15px;
        font-weight: bold
    }

    .post {
        text-align: center;
        width: 200px;
        margin-top: 32px;
        background-color: rgb(243, 232, 232);
        color: white;
        margin-bottom: 10px;


    }

    .post:hover {
        background-color: rgb(62, 10, 248);
        color: white;
        border-radius: 15px;
    }

    .center {
        /* margin:auto; */
        /* margin-left: 120px; */
        width:100px;
        height: auto;
        margin-top: 120px;
        padding: 10px;
    }
</style>
<div [perfectScrollbar]="{wheelPropagation: false}" [ngStyle]="{'max-height': '70vh', 'position': 'relative'}">


    <div style="left: 400px; top:30px">
        <div class="title">

            <button class="close" (click)="closeDilog()" mat-button mat-icon-button>
                <i  class="flaticon2-cancel-music"></i>
              </button>
            <!-- <button mat-icon-button mat-button style="float: right;padding-bottom: 12px; margin-right: 10px;">

                <mat-icon class="close" style="float: right; padding: 3px;" (click)="closeDilog()">close</mat-icon>
            </button> -->
            <span>Đăng tin new</span>
        </div>
        <div class="kt-login__form">
            <div class="kt-login__title" *ngFor="let item of listTT_user " style="display:flex">


                <span *ngIf="item.hinhanh===null;then e1; else e2"></span>
                <ng-template #e2>
                    <img class="avatar" src="{{item.Avatar}}">

                </ng-template>

                <ng-template #e1>

                    <img class="avatar" src="../../assets/media/users/avatar_macdinh.jpg">

                </ng-template>
                <div style="display:flex;flex-direction: column;margin-left: 15px; margin-top: 10px;">
                    <span style="font-weight: bold;"> {{item.Username}}</span>


                </div>

            </div>
            <div class="home__body__contentMiddle">

                <div class="home__body__contentMiddle__top">

                    <!--IMAGE CARDS-->

                    <span *ngIf="image;then e1; else e2"></span>
                    <ng-template #e2>
                        <div class="color-picker-box">
                            <div class="colors">

                                <div class="color  {{_color}} "
                                    style="width:200px;height: 300px;margin-top: 5px; border-radius:10px">


                                    <div class="center" style="    margin-left: 65px;
                                    vertical-align: middle;
                                    text-align: center;">
                                        <span  class="card-name">
                                            {{noidung}}

                                        </span>
                                    </div>

                                </div>


                            </div>
                        </div>


                    </ng-template>

                    <ng-template #e1>

                        <!-- <img style="height:300px;margin:10px;margin-top: 15px;" [src]="image"> -->
                        <div class="home__body__contentMiddle">

                            <div class="home__body__contentMiddle__top">

                                <!--IMAGE CARDS-->
                                <mat-card (click)="hiddenfileinput.click()"
                                    style="width:200px;height: 300px;margin-top: 5px;" class="image-card">
                                    <img style="width: 100%;" alt="bg" class="bg" [src]="image">

                                    <input type='file' id="PDFInpdd" #hiddenfileinput
                                        (change)="onSelectFile_PDF($event)" style="display: none;">

                                    <mat-card-content>
                                        <!-- hình ảnh user chỗ  bản tin -->

                                        <span style="margin: 45px;
                              margin-bottom: 100px;" class="card-name">
                                            {{noidung}}
                                            <br>

                                        </span>
                                    </mat-card-content>
                                </mat-card>







                            </div>
                        </div>



                    </ng-template>



                </div>
            </div>

        </div>


        <div class="attachment">
            <!-- up load file -->
            <button style="float: right;" mat-icon-button type="button" (click)="hiddenfileinput.click()"
                matTooltip="Upload File">
                <mat-icon>attach_file</mat-icon>
            </button>&nbsp;
            <input type='file' id="PDFInpdd" #hiddenfileinput (change)="onSelectFile_PDF($event)"
                style="display: none;">
            <!-- </div> -->
        </div>

        <div style=" margin:15px;">
            <span>Nhập nội dung</span>
            <textarea placeholder="Nhập nội dung !" style="border:1px solid lightcoral;outline: none;" rows="5"
                cols="70" name="comment" form="usrform" [(ngModel)]="noidung">
           </textarea>
        </div>





        <div style="padding-left: 20px;" class="col-md-12 m--margin-bottom-10-mobile">
            <kt-color-picker [selected]="_color" (ItemSelected)="Selected_Color($event)">
            </kt-color-picker>
        </div>
        <div style="text-align: center;">
            <button class="post" (click)="Submit()">

                <span style="font-size:14px; color:black">Đăng</span>
            </button>
        </div>

    </div>
</div>