<style>
    .post {
        text-align: center;
        width:480px;
        height: 35px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        border-radius: 20px;
            /* background-color:lightgreen;
            color:#FFf; */
            background-color:rgb(19, 173, 58);
           color:white;
        border:none;
       

    }

    .angular-editor-textarea{
    min-height: 150px;
    overflow: auto;
    margin-top: 5px;
    resize: vertical;
    outline: none;
}
.post:hover{
    background-color:rgb(7, 11, 207);
}
</style>
<div class="__dialogwrapper" style="left: 433px;top: 131.5px;" >
    <div class="__dialogwrapper-inner">
        <div class="__dialogmain">
            <div class="__dialogtitle ap-xdot">
               
            </div>
            <div class="__dialogcontent simple-form">
                <div id="post-status" class="__apdialog" title="" style="width: 500px;">
                    <div class="title">
                        <button  style="float: right;" (click)="closeDilog()" mat-button mat-icon-button>
                            <i style="font-size: 15px;"  class="flaticon2-cancel-music"></i>
                          </button>
                      
                       <span style="font-size:20px;text-align:center;">Tạo Thông Báo </span>
                        <div class="-close -wrap inside-popup-form__button inside-popup-form__button--close"
                            onclick="AP.closeDialog(this);"></div>
                    </div>
                    <div>
                        <form action="api/update/create" id="post-create-fly"> <input type="hidden" name="channel"
                               ><input type="hidden" >
                            <div class="textarea " style=" position: relative;height: 80px; margin-bottom: -10px;">
                                 <!-- <img
                                src="{{items.Avatar}}"
                                    alt=" CEO" class="icon"> 
                                     -->
                                     <span>{{htmlContent}}</span>
                                    
                                    <mat-form-field style="width:420px;height:40px ;">
                                        <!-- <textarea matInput placeholder="Leave a comment"></textarea>
                                     -->
                                    <textarea name="content"
                                    [(ngModel)]="tieude"
                                   
                                    matInput placeholder="Bạn muốn chia sẻ điều gì?"
                                    #emailInput="ngModel"
                                    id="content" class="__autoresized __autoc" data-role="editor" autocomplete="off"
                                    style="overflow: hidden; overflow-wrap: break-word; height: 46px;margin-top: 12px;"></textarea>
                                </mat-form-field>
                                </div>
                                <div class="attachment">
                                    <!-- up load file -->
                                    <!-- <button style="float: right;" mat-icon-button type="button" (click)="hiddenfileinput.click()"
                                      matTooltip="Upload File">
                                      <mat-icon>attach_file</mat-icon>
                                    </button>&nbsp;
                                    <input type='file' id="PDFInpdd" #hiddenfileinput (change)="onSelectFile_PDF($event)" style="display: none;"> -->
                                    <!-- </div> -->
                                  </div>


                                <!-- <div class="col-md-12 m--margin-bottom-10-mobile">
                                    <editor   [formControl]="dulieu" [(ngModel)]="htmlContent"  ></editor>
                                </div> -->
                                <!-- <span>{{t}}</span> -->
                                <div style=" margin:15px">
                                 
                                    <ckeditor   [editor]="editor1"  [formControl]="dulieu" ></ckeditor>

                                    <!-- <textarea  [formControl]="dulieu" placeholder="Nhập nội dung !" style="outline: none;" rows="5" cols="70"
                                        name="comment" form="usrform">
                                       </textarea> -->
                                </div>
                                <div class="row">
                                    <div class="col-md-11 kt--margin-bottom-10-mobile" style="margin-left: 25px;">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-select [formControl]="id_group" class="require" 
                                                placeholder="Group"
                                                [(ngModel)]="selected"
                                                [(value)]="congkhai"
                                                >
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="groupFilterCtrl" [placeholderLabel]="' '"
                                                        [noEntriesFoundLabel]="' '">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option value="Công Khai">
                                                    <span style="color: black;">Công Khai</span>
                                                    
                                                </mat-option>
                                                <mat-option  [value]="item.ID_group" *ngFor="let item of list_group">
                                                    <span style="color: black;">{{item.Ten_Group}}</span>
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                       
                                    </div>
                    </div>
                   
                            
                            <div class="is-disabled">

                           
                              <button (click)="submit()" class="post">
                                <!-- <meta charset="utf-8"> -->
                                <!-- <span> {{htmlContent}}</span>  -->
                                <mat-icon style="font-size: 15px;" aria-hidden="false" aria-label="Example home icon">screen_share</mat-icon>
                                  <span style="font-size:18px;" >Đăng</span>
                              </button> 
                            </div>
                         
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>